<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 进行Mybatis的相应的环境的属性定义 -->
<configuration> 
	<settings>	
		<!-- 在本项目之中开启二级缓存  默认是true-->
		<setting name="cacheEnabled" value="true"/>
		<!-- 设置当JDBC类型为空时,设置默认值为NULL -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
</configuration>